h1 {
  font-size: 3vh;
  color: white;
}

h2 {
  font-size: 2vh;
  color: white;
}

h3 {
  font-size: 1.5vh;
  color: whitesmoke;
}

h4 {
  font-size: 1.25vh;
  color: grey;
}

article {
  background-color: #1e1e1e;
  padding: 2%;
}

section {
  margin-top: 6vh;
  align-items: center;
  display: flex;
  padding: 2%;
  border-radius: 8px;
  flex-direction: column;
}


/* Classes */
.GridLayoutTwoColumns {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  row-gap: 0;
  column-gap: 0;
}

.AboutUsGridItem {
  width: 40vw;
  height: 40vh;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  white-space: normal;
}

.ImgColorTint {
  width: 100%;
  height: 100%;
  z-index: 2; 
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.AboutUsImg {
  width: 50vw;
  height: 50vh;
  pointer-events: none;
  object-fit: contain;
}

.SectionTitle {
  font-weight: bold;
}

.GridLayoutThreeColumns {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  row-gap: 4vh;
  column-gap: 4vw;
}

.ServicesGridItem {
  width: 25vw;
  height: 25vh;
  background-color: #2d2d30;
  border-radius: 8px;
  padding: 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  white-space: normal;
}

.ServicesLogo {
  width: 8vw;
  height: 8vh;
  pointer-events: none;
  object-fit: contain;
}


/* Identifiers */
#div_mainDisplay {
  height: 100vh;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  background-image: url("/src/res/images/coding_stockimg.jpg");
  background-position: center center;
  background-size: cover;
  display: inline-block;
  align-items:flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 5vh;
}

#h1_index_motive {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  width: 50%;
  font-size: 4vh;
}

#b_index_explore {
  width: 15vw;
  height: 3vh;
  opacity: 0;
  border-radius: 35px;
  border: none;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  background-color: #26f2f2;
  color: whitesmoke;
  padding: 5px;
} 

#b_index_explore:hover {
  color: #20acac;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}